.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

@media (width >= 768px) {
  .form {
    width: 55%;
  }

}
